.content {
  width: 1200px;
  margin: auto;
  margin-top: 4em;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.listing {
  padding: 1em;
}

.annotated-text {
  white-space: pre-wrap;
}

.annotated-text .annotation {
  background: #d9b1b1;
}

.annotated-text .annotation::after {
  content: attr(data-items);
  font-size: xx-small;
}
