.content {
  width: 1200px;
  margin: auto;
  margin-top: 4em;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.listing {
  padding: 1em;
}

header {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.annotation.annotation--blue {
  --annotation-bg-color: lightblue;
}

.annotation.annotation--red {
  --annotation-bg-color: #e8b8b8;
}

.annotation.annotation--green {
  --annotation-bg-color: lightgreen;
}

.annotation.annotation--underlined {
  text-decoration: underline;
}
